In [3]:
import sqlite3
import json
import pprint

with open('data/artist.json','r')as f:
    for line in f:
        pprint.pprint(json.loads(line))
        #print(json.loads(line))
        break
# traffic=json.load(open('data/artist.json'))

{'ended': True,
 'gid': '8972b1c1-6482-4750-b51f-596d2edea8b1',
 'id': 805192,
 'name': 'WIK▲N',
 'sort_name': 'WIK▲N',
 'tags': [{'count': 1, 'value': 'sillyname'}]}

In [4]:
conn= sqlite3.connect('data/musician')
c=conn.cursor()

In [6]:
create_table = '''create table users (id int, name varchar(64),
                  age int, gender varchar(32))'''
c.execute(create_table)

sql = 'insert into users (id, name, age, gender) values (?,?,?,?)'
user = (1, 'Taro', 20, 'male')
c.execute(sql, user)

In [7]:
insert_sql = 'insert into users (id, name, age, gender) values (?,?,?,?)'
users = [
    (2, 'Shota', 54, 'male'),
    (3, 'Nana', 40, 'female'),
    (4, 'Tooru', 78, 'male'),
    (5, 'Saki', 31, 'female')
]
c.executemany(insert_sql, users)
conn.commit()

select_sql = 'select * from users'
for row in c.execute(select_sql):
    print(row)

(1, 'Taro', 20, 'male')
(2, 'Shota', 54, 'male')
(3, 'Nana', 40, 'female')
(4, 'Tooru', 78, 'male')
(5, 'Saki', 31, 'female')

In [8]:
conn.close()